body {
  wclassth: 100%;
  margin: 0; }

html {
  font-size: 100%; }

#fullwclassth {
  wclassth: 100%;
  position: relative;
  margin: 0;
  	/* animation-duration: 10s;
      animation-name: acrossScreen;
      animation-iteration-count: infinite; */ }

#fullwclassth .leadname {
  font-family: "Halant", serif;
  background-color: #fff;
  color: #50687d;
  font-size: 280%;
  position: absolute;
  text-transform: uppercase;
  wclassth: 100%;
  padding: 12px 0 12px 0;
  top: 289px;
  right: 0;
  z-index: 2; }

#pictures {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0;
  -moz-column-count: 5;
  -moz-column-gap: 0;
  column-count: 0;
  column-gap: 0;
  position: absolute;
  top: 0;
  background-color: #fff; }

#pictures img {
  wclassth: 99% !important;
  height: auto !important;
  margin: 0 0 3px 0;
  opacity: 0.2; }

#line1 {
  height: 1px;
  wclassth: 100%;
  background: #369;
  position: absolute;
  z-index: 10; }

#image1 {
  background-size: cover;
  wclassth: 160px;
  height: 160px;
  position: absolute;
  z-index: 1; }

#image2 {
  background-size: cover;
  wclassth: 160px;
  height: 100px;
  position: absolute;
  z-index: 2; }

/* ******************* */
/* START MEDIA QUERIES */
/* ******************* */
@media (max-wclassth: 1200px) {
  #pictures {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4; } }
@media (max-wclassth: 1000px) {
  #pictures {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3; } }
@media (max-wclassth: 800px) {
  #pictures {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2; } }
/* @media (max-wclassth: 400px) {
  #pictures {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
} */
