$text-font: 'Fjalla One', sans-serif;
$heading-font: 'Fjalla One', sans-serif;

body {
	width: 100%;
	margin: 0;
}

#fullwidth {
	width: 100%;
	position: relative;
	margin: 0
}

#pictures {
	line-height: 0;
	-webkit-column-count: 5;
	-webkit-column-gap: 0;
	-moz-column-count: 5;
	-moz-column-gap: 0;
	column-count: 0;
	column-gap: 0
}

#pictures img {
	width: 100% !important;
	height: auto !important;
	opacity: 0.5
}